.sidebar-wrap {
  z-index: 99;
  width: 200px;
  height: 100vh;
  position: relative; 
  /* left: 282px; */
  padding: 12px 0;
  float: right;
  box-sizing: border-box;
  margin-right: 20px;
  .logo-wrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
    .el-image {
      width: 36px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu {
   ::v-deep .el-menu {
      border: none;
      background: transparent;
      .el-badge {
        width: 100%;
        .el-badge__content.is-fixed{
          right: 98px;
    top: 15px;
        }
      }
      .el-menu-item {
        height: 42px;
        line-height: 42px;
        margin-top: 6px;
        border-radius: 21px;

        color: #fff;
       
        i{
          margin-right: 6px;
        }
        &:hover {
          background: #262629;
        }
        &.is-active {
          color: #63e2b7;
          background: #1d302c;
        }
      }
    }
  }
  .user_wrap {
   
    .user_name{margin-right: 5px;}
    .login {
        padding:0 18px;
        border-radius: 34px;
      color: #63e2b7;
      background: #1d302c;
    }
    .register{
        color: #70c0e8;
        padding:0 18px;
        border-radius: 34px;
      background:rgba(112, 192, 232, 0.16);
    }
    .el-avatar {
      width: 34px;
      height: 34px;
      margin-right: 8px;
    }
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
    display: flex;
    align-items: flex-start;
    >div{
      width: calc(100% - 42px);
      >div{
        display: flex;
        align-items: center;
        i{
          cursor: pointer;
        }
      }
    }
    .signature{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
